@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-spooky-ghost text-gray-900 dark:bg-spooky-dark dark:text-gray-200 font-sans antialiased transition-colors duration-300;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-spooky text-spooky-purple dark:text-spooky-orange tracking-wider transition-colors duration-300;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #121212;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #7c3aed;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ff7518;
}

.clip-path-triangle-right {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.clip-path-triangle-left {
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}


:root {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}